@using MyFirstApp.Pages
@{
  var menuitems = ViewData["menuitems"] as List<Menuitem>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFirstApp</title>

    <!-- ✅ Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            @foreach(var item in menuitems){
                <li class="nav-item">
                <a class="nav-link" href="@item.url">@item.text</a>
                </li>
            }
          </ul>
        </div>
      </div>
    </nav>
    <main class="container mt-4" style="padding: 40px;"">
        @RenderBody()
    </main>

    <!-- ✅ Bootstrap JS Bundle -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
